/* Google Font here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap');

/* Global css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

p,
input,
span,
button,
li {
  font-family: 'Quicksand', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* header part css here */

.header {
  width: 100%;
}

.logo {
  margin: 20px;
}

.logo img {
  vertical-align: middle;
}

.logo span {
  font-size: 24px;
  font-weight: 900;
  margin-left: 5px;
  vertical-align: middle;
}

/* banner part css here */

.banner {
  width: 100%;
  display: flow-root;
  margin-bottom: 70px;
}

.banner-info {
  width: 100%;
  float: left;
}

.banner-left {
  width: 60%;
  float: left;
}

.banner-right {
  width: 40%;
  float: left;
}

.left-content {
  padding: 60px 83px 60px 16px;
}

.left-content H1 {
  font-size: 45px;
}

.left-content p {
  color: #4c527d;
  font-size: 22px;
  margin: 24px 0;
}

.left-content .banner-button button {
  padding: 20px 40px;
  border-radius: 32px;
  outline: none;
  border: 1px solid #ed6524;
  font-size: 18px;
  font-weight: 600;
}

.left-content .banner-button .left-btn {
  background: #ed6524;
  color: white;
}

.left-content .banner-button .left-btn:hover {
  cursor: pointer;
}

.left-content .banner-button .right-btn {
  background: transparent;
  color: #ed6524;
  margin-left: 10px;
}

.left-content .banner-button .right-btn:hover {
  background: #ed6524;
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
}

.comment {
  margin: 25px 50px 0 0;
}

.comment-box {
  width: 100%;
  background: #f6f8fc;
  padding: 20px 30px;
  border-left: 4px solid #ed6524;
  position: relative;
}

.comment-box p {
  font-size: 18px;
  font-style: italic;
}

.box-icon {
  width: 40px;
  height: 40px;
  background: #f6f8fc;
  position: absolute;
  bottom: -20px;
  left: 50px;
  transform: rotate(45deg);
}

.comment-user {
  width: 100%;
  float: left;
  margin: 40px 0 0 34px;
}

.user-left {
  width: 15%;
  float: left;
}

.user-right {
  width: 80%;
  float: right;
}

.user-desc {
  padding: 15px 0;
}

.user-right .user-desc p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
}

.right-content {
  position: relative;
}

.book-circle {
  width: 120px;
  height: 120px;
  background: #5cb377;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -30px;
  right: 0;
}

.book-circle h3 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 35px;
}

.book-link {
  text-align: center;
}

.book-link a {
  text-decoration: underline;
  font-size: 20px;
  color: #ed6524;
}

/* service section css */

.service {
  width: 100%;
  display: flow-root;
  background: linear-gradient(to bottom, #f6f8fc 0%, #fff 70%);
  background-repeat: repeat-x;
  padding: 90px 0;
}

.service-title {
  text-align: center;
}

.service-title h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.service-title p {
  font-size: 22px;
  color: #4c527d;
}

.service-gallery {
  margin-top: 80px;
  width: 100%;
  float: left;
}

.item {
  width: 33%;
  float: left;
}

.item-desc {
  text-align: center;
  padding: 42px;
}

.item-desc i {
  font-size: 36px;
  color: #ed6524;
}

.item-desc h3 {
  margin: 15px 0;
}

/* included section css */

.included {
  width: 100%;
  display: flow-root;
  padding: 50px 0;
  text-align: center;
  float: left;
}

.included-title h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.included-details {
  width: 100%;
  float: left;
}

.included-left {
  width: 50%;
  float: left;
}

.included-img {
  padding: 70px;
}

.list {
  padding: 70px 40px;
}

.included-right {
  width: 50%;
  float: left;
}

.included-right i {
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  background: #76cdb8;
  border-radius: 100%;
  color: white;
  margin-right: 10px;
  font-size: 16px;
}

.included-right ul li {
  line-height: 37px;
  font-size: 20px;
  text-align: center;
}

.inc-button button {
  padding: 20px 40px;
  border-radius: 32px;
  outline: none;
  border: 1px solid #ed6524;
  font-size: 18px;
  font-weight: 600;
  background: #ed6524;
  color: white;
  margin: 40px 0;
}

/* audience section css */

.audience {
  width: 100%;
  display: flow-root;
  padding: 20px 0;
}

.audience-title {
  text-align: center;
}

.audience-title h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.audience-title p {
  font-size: 22px;
  color: #4c527d;
}

.audience-list {
  width: 60%;
  padding: 80px 50px;
  margin: 0 auto;
}

.audience-list span {
  margin-left: 10px;
  font-size: 21px;
  font-weight: 600;
}

.audience-list p {
  margin-left: 36px;
  margin-top: 10px;
}

.audience-list i {
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 100%;
  color: #76cdb8;
  font-size: 16px;
}

/* subcscrbe css */

.subscribe {
  width: 100%;
  display: flow-root;
}

.subscribe-box {
  width: 60%;
  margin: 5px auto;
  background: #f6f8fc;
  text-align: center;
  padding: 40px;
}

.subscribe-box h1 {
  font-size: 45px;
}

.subscribe-box p {
  font-size: 22px;
  color: #4c527d;
}

.form input {
  width: 70%;
  padding: 15px;
}

.form button {
  padding: 15px 20px;
  background: #ed6524;
  color: #fff;
  border: none;
  border: 2px solid #ed6524;
}

/* service section css */
.book-review {
  width: 100%;
  display: flow-root;
  padding: 37px 0;
}

.book-review-title {
  text-align: center;
}

.book-review-title h1 {
  font-size: 45px;
}

.book-review-title p {
  font-size: 22px;
  color: #4c527d;
}

.review-gallery {
  padding: 29px;
  width: 100%;
  float: left;
}

.review-gallery1 {
  padding: 25px;
  width: 100%;
  float: left;
  margin-left: 220px;
}

.review-item {
  width: 30%;
  float: left;
  background: #f6f8fc;
  position: relative;
  margin: 18px;
}

.review-item i {
  color: white;
  background: #f5a782;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: 147px;
}

.review-comment-box {
  padding: 30px 25px;
}
.review-comment-box p {
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.review-comment-user {
  width: 100%;
  float: left;
  margin: 0px 0 0 13px;
}

.review-user-left {
  width: 15%;
  float: left;
}

.review-user-right {
  width: 80%;
  float: right;
}

.review-user-desc {
  padding: 7px;
}

.review-user-right .review-user-desc p {
  margin: 1px;
  padding: 2px;
  font-size: 15px;
  line-height: 15px;
}

.review-center {
  margin: auto;
}

/* copy button section css */
.copy {
  width: 100%;
  display: flow-root;
  margin-bottom: 20px;
}

.copy-button {
  width: 100%;
  text-align: center;
}

.copy-button button {
  padding: 15px 40px;
  border-radius: 32px;
  outline: none;
  border: 1px solid #ed6524;
  font-size: 18px;
  font-weight: 600;
  background: #ed6524;
  color: white;
}

/* Author section css */

.author {
  width: 100%;
  display: flow-root;
  background: #ed6524;
  padding: 90px 0;
}

.author-img {
  width: 60%;
  margin: auto;
}

.author-section img {
  margin: auto;
  display: block;
}

.author-desc {
  padding: 30px 184px;
}

.author-desc h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: white;
}

.author-desc p {
  color: white;
  line-height: 25px;
  text-align: left;
}

.service-title p {
  font-size: 22px;
  color: #4c527d;
}

.author-social {
  text-align: center;
  padding: 23px;
}

.author-social h3 {
  font-size: 22px;
  color: white;
}

.social-icon li {
  background: rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  padding-top: 6px;
  text-align: center;
  color: white;
}

/* Footer css */
.footer {
  width: 100%;
  display: flow-root;
  padding: 40px 0;
}

.footer-section {
  text-align: center;
}

.footer-section i {
  color: #fb866a;
}
